.sidebar-container {
  width: 30%;
  height: 100vh;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  background: #191c22;
  overflow: hidden;
}
.sidebar-search {
  height: 10%;
  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #161819;
    padding: 3px 15px;
    border-radius: 13px;
  }
  input,
  button {
    outline: none;
    background: transparent;
  }
  input {
    width: 90%;
    height: 42px;
    color: #939496;
    font-size: 1rem;
  }
  button {
    border: none;
    height: 42px;
    width: 10%;
    cursor: pointer;
    color: #6a6c6f;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  opacity: 0;
  position: absolute;
  right: 0;
  border-radius: 8px;
  background-color: #f9f9f9;
  min-width: 180px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 14px 18px;
  z-index: 1;
  transition: 0.4s;
  background: rgb(73, 73, 73);
  .create-chat {
    padding: 7px;
    color: #fff;
    font-size: 14px;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    text-align: left;
    &:hover {
      background: #414349;
    }
  }
  .exit-account {
    padding: 7px;
    color: rgb(214, 83, 83);
    font-size: 14px;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    text-align: left;
    &:hover {
      background: #663f3f;
    }
  }
}

.sidebar-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #27292d;
  border-radius: 13px;
  padding: 15px;
  margin-top: 25px;
  img {
    width: 15%;
    height: 15%;
    border-radius: 8px;
  }
  &-status {
    width: 70%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .status-flex {
      display: flex;
      align-items: center;
      color: #54d497;
      i {
        font-size: 100%;
      }
      span {
        color: #fff;
        margin-left: 10px;
        font-size: 90%;
      }
    }
    h2 {
      color: #fff;
      font-weight: 500;
      font-size: 120%;
    }
  }
  &-menu {
    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}

.i-parent {
  position: relative;
}

.i-child {
  position: absolute;
  color: #000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-left: 0.5px;
}

.sidebar-options {
  height: 15%;
  width: 100%;
  margin-top: 40px;
  .members,
  .settings {
    width: 100%;
    border-radius: 13px;
    padding: 13px;
    display: flex;
    align-items: center;
    color: #fff;
    span {
      margin-left: 5%;
    }
  }
}
.members:hover,
.settings:hover {
  background: #27292d;
  cursor: pointer;
}
.sidebar-channel {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.sidebar-messages {
  margin-top: 40px;
  min-height: 60%;
}
.placeholder {
  width: 100%;
  padding: 0 13px;
  cursor: pointer;
  color: #484848;
  span {
    font-weight: 500;
    margin-left: 2%;
  }
}
.drop {
  width: 100%;
  margin-top: 20px;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  height: 80%;
}
.drop-list {
  width: 100%;
  padding: 13px;
  color: #fff;
  cursor: pointer;
  border-radius: 13px;
  scroll-snap-align: start;

  &:hover {
    background: #27292d;
  }
  .drop-list_block {
    display: flex;
    align-items: center;
    span {
      margin-left: 5%;
    }
    img {
      width: 30px;
      height: 30px;
      border-radius: 9px;
    }
    .plus-block {
      width: 30px;
      height: 30px;
      border-radius: 9px;
      background-color: #27292e;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
      }
    }
  }
}

.drop-list-icon {
  color: #54d497;
  position: relative;
  i {
    font-size: 10px;
    position: absolute;
    margin-top: 21px;
    left: 22px;
  }
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1370px) {
}

@media (max-width: 1024px) {
  .sidebar-search {
    height: 26px;
    form {
      width: 100%;
      padding: 3px 12px;
      border-radius: 11px;
    }
    input {
      width: 90%;
      height: 20px;
      font-size: 8px;
    }
    button {
      height: 20px;
      width: 10%;
      i {
        font-size: 7px;
        height: 20px;
        align-self: center;
      }
    }
  }

  .sidebar-container {
    padding: 15px 40px;
    span {
      font-size: 12px;
    }
    h2 {
      font-size: 11px;
    }
  }

  .sidebar-card-container {
    height: 56px;
  }

  .sidebar-card {
    margin-top: 20px;
    padding: 8px;
    img {
      height: 40px;
      width: 40px;
    }
  }
  .sidebar-card-status {
    width: 60%;
    .status-flex {
      i {
        font-size: 8px;
      }
      span {
        font-size: 8px;
      }
    }
  }

  .dropdown {
    img {
      height: 12px;
      width: 12px;
    }
  }

  .dropdown-content {
    border-radius: 6px;
    min-width: 90px;
    padding: 6px 6px;
    .exit-account {
      padding: 3px;
      font-size: 8px;
      border-radius: 4px;
      width: 100%;
    }
  }

  .sidebar-options {
    height: 54px;
    width: 100%;
    margin-top: 30px;
    .members,
    .settings {
      i {
        font-size: 9px;
      }
      border-radius: 9px;
      padding: 8px;
      span {
        margin-left: 5%;
        font-size: 9px;
      }
    }
  }
  .sidebar-messages {
    margin-top: 20px;
    min-height: 65%;
  }
  .placeholder {
    padding: 0 8px;
    span {
      margin-left: 2%;
      font-size: 9px;
    }
    i {
      font-size: 9px;
    }
  }

  .drop {
    margin-top: 10px;
  }
  .drop-list {
    padding: 8px;
    border-radius: 8px;
    .drop-list_block {
      span {
        margin-left: 5%;
        font-size: 8px;
      }
      img {
        width: 15px;
        height: 15px;
        border-radius: 6px;
      }
      .plus-block {
        width: 15px;
        height: 15px;
        border-radius: 6px;
        i {
          font-size: 6px;
        }
      }
    }
  }

  .drop-list-icon {
    i {
      font-size: 5px;
      margin-top: 11px;
      left: 12px;
    }
  }
}

@media (max-width: 375px) {
  .sidebar-container {
    padding: 15px 5px;
    span {
      font-size: 8px;
    }
    h2 {
      font-size: 6px;
    }
  }
  .sidebar-card {
    margin-top: 20px;
    padding: 6px;
    border-radius: 8px;
    img {
      height: 20px;
      width: 20px;
      border-radius: 4px;
    }
  }
  .sidebar-card-status {
    width: 60%;
    .status-flex {
      i {
        font-size: 4px;
      }
      span {
        font-size: 5px;
        margin-left: 4px;
      }
    }
  }

  .dropdown {
    img {
      height: 8px;
      width: 8px;
    }
  }

  .dropdown-content {
    border-radius: 6px;
    min-width: 50px;
    padding: 4px;
    .exit-account {
      padding: 3px;
      font-size: 7px;
      border-radius: 4px;
      width: 100%;
    }
  }
  .sidebar-options {
    height: 54px;
    width: 100%;
    margin-top: 20px;
    .members,
    .settings {
      i {
        font-size: 6px;
      }
      border-radius: 9px;
      padding: 8px;
      span {
        margin-left: 5%;
        font-size: 7px;
      }
    }
  }
  .sidebar-messages {
    margin-top: 10px;
    min-height: 65%;
  }
  .placeholder {
    padding: 0 8px;
    span {
      margin-left: 2%;
      font-size: 7px;
    }
    i {
      font-size: 6px;
    }
  }
  .drop-list-icon {
    i {
      font-size: 4px;
      margin-top: 12px;
      left: 11px;
    }
  }
  .drop-list {
    padding: 8px;
    border-radius: 8px;
    .drop-list_block {
      span {
        margin-left: 5%;
        font-size: 7px;
      }
      img {
        width: 15px;
        height: 15px;
        border-radius: 4px;
      }
      .plus-block {
        width: 15px;
        height: 15px;
        border-radius: 4px;
        i {
          font-size: 6px;
        }
      }
    }
  }
}

// @media screen and (max-width: 640px) {
//   .sidebar-container {
//     padding: 10px 10px;
//     span {
//       font-size: 5px;
//     }
//     i {
//       height: 100%;
//       font-size: 8px;
//     }
//   }

//   .sidebar-search {
//     form {
//       padding: 3px 12px;
//       height: 16px;
//     }
//     input {
//       width: 90%;
//       font-size: 5px;
//       height: 100%;
//     }
//     button {
//       height: 16px;
//       width: 5px;
//       i {
//         height: 100%;
//         font-size: 5px;
//       }
//     }
//   }

//   .sidebar-card {
//     border-radius: 9px;
//     padding: 6px;
//     margin-top: 9px;
//     img {
//       width: 20px;
//       height: 20px;
//       border-radius: 5px;
//     }
//     h2 {
//       font-size: 6px;
//     }

//     &-menu {
//       img {
//         height: 7px;
//         width: 7px;
//       }
//     }

//     &-status {
//       width: 70%;
//       height: 20px;
//       .status-flex {
//         span {
//           margin-left: 4px;
//           font-size: 6px;
//         }
//         i {
//           height: 100%;
//           font-size: 6px;
//         }
//       }
//     }
//   }

//   .sidebar-options {
//     height: 15%;
//     width: 100%;
//     margin-top: 10px;
//     .members,
//     .settings {
//       width: 100%;
//       border-radius: 6px;
//       padding: 6px;
//       span {
//         margin-left: 13px;
//       }
//     }
//   }

//   .dropdown-content {
//     border-radius: 8px;
//     min-width: 50px;
//     padding: 4px 3px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     .exit-account {
//       padding: 3px;
//       font-size: 4px;
//       border-radius: 4px;
//       width: 100%;
//     }
//   }

//   .sidebar-messages {
//     margin-top: 10px;
//     min-height: 60%;
//   }
//   .placeholder {
//     width: 100%;
//     padding: 0 7px;
//     span {
//       margin-left: 6px;
//     }
//     i {
//       font-size: 6px;
//     }
//   }
//   .drop {
//     width: 100%;
//     margin-top: 3px;
//     overflow-y: auto;
//     height: 80%;
//   }
//   .drop-list {
//     width: 100%;
//     padding: 2px 4px;
//     border-radius: 4px;
//     .drop-list_block {
//       span {
//         margin-left: 5px;
//       }
//       img {
//         width: 15px;
//         height: 15px;
//         border-radius: 5px;
//       }
//       .plus-block {
//         width: 15px;
//         height: 15px;
//         border-radius: 5px;
//         position: relative;
//         i {
//           font-size: 5px;
//           height: 5px;
//           position: absolute;
//           top: 50%;
//           margin: -2.5px 0 0 0;
//         }
//       }
//     }
//   }

//   .drop-list-icon {
//     color: #54d497;
//     position: relative;
//     i {
//       font-size: 4px;
//       position: absolute;
//       margin-top: 21px;
//       left: 22px;
//     }
//   }
// }
