.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  animation-name: appear;
  animation-duration: 300ms;
}

.modal-dialog {
  width: 100%;
  max-width: 550px;
  background-color: #34373d;
  border-radius: 14px;
  color: #fff;
  position: relative;
  margin: 0 20px;
  max-height: calc(100vh - 40px);
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s;
}

.modal-header,
.modal-footer {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.modal-header {
  border-bottom: 1px solid #dbdbdb;
  justify-content: space-between;
}
.modal-footer {
  justify-content: flex-start;
}
.modal-close {
  cursor: pointer;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}
.modal-footer_btn {
  background: #4962e3;
  color: white;
  padding: 10px;
  font-size: 17px;
  border-radius: 10px;
}
.modal-footer_btn:hover {
  background: #4056c4;
  transition: all 0.4s;
}
.modal-body {
  overflow: auto;
}
.modal-content {
  padding: 1rem;
  width: 100%;
}
.modal-content-div {
  height: 80px;
  display: flex;
  flex-direction: column;
}
.modal-content-div-conversation {
  max-height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto;
}
.modal-content_span {
  margin-bottom: 10px;
}
.modal-content_input {
  outline: 1px solid #dbdbdb;
  border-radius: 8px;
  padding: 9px;
  font-size: 16px;
  color: #6b6b6b;
}

.modal-title {
  margin: 0;
}
.form_radio_btn {
  margin-top: 10px;
  label {
    img {
      width: 30px;
      height: 30px;
      border-radius: 9px;
      margin-right: 15px;
    }
  }
}
.form_radio_btn input[type="radio"] {
  display: none;
}
.form_radio_btn label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 15px;
  line-height: 34px;
  font-size: 1.1rem;

  border-radius: 6px;
  user-select: none;
}

/* Checked */
.form_radio_btn input[type="radio"]:checked + label {
  background: #27292e91;
}

/* Hover */
.form_radio_btn label:hover {
  color: rgb(255, 255, 255);
}

/* Disabled */
.form_radio_btn input[type="radio"]:disabled + label {
  background: #efefef;
  color: #666;
}
