.members-container {
  width: 74%;
  height: 100vh;
  padding: 30px 0;
  display: flex;
  overflow: hidden;
  overflow-y: auto;
  justify-content: center;
  background-color: #161819;
}

.members-block {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.members-h2 {
  color: #fff;
  margin-bottom: 40px;
}

.members-search {
  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #27292e;
    padding: 3px 15px;
    border-radius: 13px;
  }
  input,
  button {
    outline: none;
    background: transparent;
  }
  input {
    width: 90%;
    height: 42px;
    color: #acadaf;
    font-size: 1rem;
  }
  button {
    border: none;
    height: 42px;
    width: 10%;
    cursor: pointer;
    color: #6a6c6f;
  }
}
.result {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #27292e;
  padding: 10px 15px;
  border-radius: 13px;
  color: #fff;
  margin-top: 15px;
  img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
  }
  h2 {
    color: #fff;
    font-weight: 500;
    width: 70%;
    font-size: 1.3rem;
  }
  button {
    color: #fff;
    width: 3%;
  }
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.members-label {
  h3 {
    color: #fff;
    margin-top: 15px;
  }
}
.times-red {
  i {
    color: red;
  }

  font-family: FontAwesome;
}
.not-find {
  color: rgb(255, 109, 109);
  margin-top: 25px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .members-container {
    padding: 15px 0;
  }

  .members-block {
    width: 350px;
  }

  .members-h2 {
    font-size: 11px;
    margin-bottom: 35px;
  }

  .members-label {
    h3 {
      font-size: 9px;
    }
  }

  .members-search {
    height: 26px;
    form {
      width: 100%;
      padding: 3px 12px;
      border-radius: 11px;
    }
    input {
      width: 90%;
      height: 20px;
      font-size: 8px;
    }
    button {
      height: 20px;
      width: 10%;
      i {
        font-size: 7px;
        height: 20px;
        align-self: center;
      }
    }
  }
  .result {
    padding: 7px 12px;
    border-radius: 8px;
    margin-top: 10px;
    img {
      width: 35px;
      height: 35px;
      border-radius: 6px;
    }
    h2 {
      width: 70%;
      font-size: 10px;
    }
    button {
      width: 3%;
      i {
        font-size: 9px;
      }
    }
  }
  .members-label {
    h3 {
      margin-top: 15px;
    }
  }
  .not-find {
    margin-top: 15px;
    font-size: 9px;
  }
}

@media (max-width: 375px) {
  .members-container {
    padding: 15px 0;
  }

  .members-block {
    width: 250px;
  }

  .members-h2 {
    font-size: 9px;
    margin-bottom: 25px;
  }

  .members-label {
    h3 {
      font-size: 7px;
    }
  }

  .members-search {
    height: 23px;
    form {
      width: 100%;
      padding: 3px 12px;
      border-radius: 11px;
    }
    input {
      width: 90%;
      height: 20px;
      font-size: 7px;
    }
    button {
      height: 20px;
      width: 10%;
      i {
        font-size: 6px;
        height: 20px;
        align-self: center;
      }
    }
  }
  .result {
    padding: 7px 12px;
    border-radius: 8px;
    margin-top: 10px;
    img {
      width: 25px;
      height: 25px;
      border-radius: 5px;
    }
    h2 {
      width: 70%;
      font-size: 8px;
    }
    button {
      width: 3%;
      i {
        font-size: 7px;
      }
    }
  }
  .members-label {
    h3 {
      margin-top: 15px;
    }
  }
  .not-find {
    margin-top: 10px;
    font-size: 7px;
  }
}
